@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey200: hsl(0, 0%, 85%);
$grey600: hsl(0%, 0%, 58%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.transparent-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 3rem clamp(3rem, 12.95vw - 3.475rem, 12rem) clamp(4.5rem, 6.475vw + 1.263rem, 9rem) clamp(3rem, 12.95vw - 3.475rem, 12rem);
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 6rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__categories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    a {
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-size: clamp(1rem, 0.18vw + 0.91rem, 1.125rem);
        color: $white;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px $white;
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;
}

.box__title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: $white;
    font-size: clamp(3.75rem, 0.36vw + 3.57rem, 4rem);
    font-weight: 300;
}

.content {
    display: flex;
    flex-direction: column;
    padding: clamp(4.5rem, 6.475vw + 1.263rem, 9rem) clamp(3rem, 12.95vw - 3.475rem, 12rem) clamp(4.5rem, 6.475vw + 1.263rem, 9rem) clamp(3rem, 12.95vw - 3.475rem, 12rem);
    gap: clamp(4.5rem, 6.475vw + 1.263rem, 9rem);
}

.card {
    position: relative;
}

.card__image {
    width: 65%;
    z-index: 0;
}

.card__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: clamp(2.5rem, 5.036vw - 0.018rem, 6rem) clamp(2.5rem, 5.036vw - 0.018rem, 6rem) 0 clamp(2.5rem, 5.036vw - 0.018rem, 6rem);
    gap: clamp(1rem, 1.439vw + 0.281rem, 2rem);
    bottom: 0;
    right: 0;
    background-color: $white;
    z-index: 1;
}

.card__description-title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, 2.158vw + 0.921rem, 3.5rem);
    font-weight: 300;
}

.card__description-paragraph {
    font-family: 'Alata', sans-serif;
    color: $grey600;
    font-size: clamp(0.875rem, 0.36vw + 0.695rem, 1.125rem);
    font-weight: 400;
}

.creations {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2.878vw + 0.561rem, 4rem);
}

.creations__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.creations__title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, 2.158vw + 0.921rem, 3.5rem);
    font-weight: 300;
}

.creations__see-all-button {
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.288vw + 0.856rem, 1.2rem);
    font-weight: 400;
    letter-spacing: 0.2rem;
    border: solid 1px $black;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    transition: 200ms all ease-out;
}

.creations__see-all-button:hover {
    background-color: $black;
    color: $white;
    transition: 200ms all ease-in;
}

.creations__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: clamp(1.5rem, 2.158vw + 0.421rem, 3rem);
    row-gap: clamp(1.5rem, 2.158vw + 0.421rem, 3rem);
}

.category {
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        background-color: $black;
        width: 100%;
        height: 100%;
        z-index: 1;
        bottom: 0;
        opacity: 25%;
        transition: 100ms all ease-out;
    }

    span {
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: clamp(1.25rem, 1.079vw + 0.71rem, 2rem);
        font-weight: 300;
        position: absolute;
        bottom: 7.6%;
        left: 10%;
        width: 50%;
        color: $white;
        z-index: 2;
        transition: 100ms color ease-out;
    }
}

.category:hover {
    .overlay {
        background-color: $white;
        opacity: 65%;
        transition: 100ms all ease-in;
    }

    span {
        color: $black;
        transition: 100ms color ease-in;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 3rem clamp(3rem, 12.95vw - 3.475rem, 12rem) 3rem clamp(3rem, 12.95vw - 3.475rem, 12rem);
    background-color: $black;
    align-items: center;
    justify-content: space-between;
}

.footer__navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer__navbar-categories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 1.439vw + 0.281rem, 2rem);
    
    a {
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-size: clamp(1rem, 0.18vw + 0.91rem, 1.125rem);
        color: $white;
    }
}

.brand-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    height: 32px;
    gap: 1rem;
}

.copyright {
    color: $white;
    font-family: 'Alata', sans-serif;
    font-size: clamp(1rem, 0.18vw + 0.91rem, 1.125rem);
    color: $grey600;
}