@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey200: hsl(0, 0%, 85%);
$grey600: hsl(0%, 0%, 58%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.transparent-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.transparent-button-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: 50rem) {
        display: flex;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 3rem clamp(3rem, 12.95vw - 3.475rem, 12rem) clamp(4.5rem, 6.475vw + 1.263rem, 9rem) clamp(3rem, 12.95vw - 3.475rem, 12rem);
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 6rem;

    @media only screen and (max-width: 50rem) {
        background-image: url(../images/mobile/image-hero.jpg);
        padding-left: clamp(1rem, 6.667vw + -0.333rem, 3rem);
        padding-right: clamp(1rem, 6.667vw + -0.333rem, 3rem);
        padding-bottom: clamp(4.5rem, -18.333vw + 13.667rem, 10rem);
        gap: clamp(4.5rem, -18.333vw + 13.667rem, 10rem);
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    @media only screen and (max-width: 50rem) {
        height: clamp(1.5rem, 1.667vw + 1.167rem, 2rem);
    }
}

.navbar__categories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    a {
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-size: clamp(1rem, 0.18vw + 0.91rem, 1.125rem);
        color: $white;
        transition: color 250ms ease-out;
        position: relative;
    }

    a::after {
        content: "";
        position: absolute;
        background-color: $white;
        height: 3px;
        left: 0;
        width: 100%;
        bottom: -1rem;
        transform: scaleX(0);
        transition: transform 250ms ease-out;
    }

    a:hover::after {
        transform: scaleX(1);
        transition: transform 250ms ease;
    }

    @media only screen and (max-width: 50rem) {
        display: none;
    }
}

.menu__btn {
    display: none;
    @media only screen and (max-width: 50rem) {
        display: flex;
        height: 1.5rem;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px $white;
    padding: 2rem 2rem 1rem 2rem;
    width: 35rem;

    @media only screen and (max-width: 50rem) {
        padding: 1rem 1rem 0.5rem 1rem;
        width: 100%;
    }
}

.box__title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: $white;
    font-size: clamp(3.75rem, 0.36vw + 3.57rem, 4rem);
    font-weight: 300;

    @media only screen and (max-width: 50rem) {
        font-size: clamp(2.125rem, 9.583vw + 0.208rem, 5rem);
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: clamp(4.5rem, 6.475vw + 1.263rem, 9rem) clamp(3rem, 12.95vw - 3.475rem, 12rem) clamp(4.5rem, 6.475vw + 1.263rem, 9rem) clamp(3rem, 12.95vw - 3.475rem, 12rem);
    gap: clamp(4.5rem, 6.475vw + 1.263rem, 9rem);

    @media only screen and (max-width: 50rem) {
        padding-left: clamp(1rem, 6.667vw + -0.333rem, 3rem);
        padding-right: clamp(1rem, 6.667vw + -0.333rem, 3rem);
        padding-top: clamp(4.5rem, -5vw + 7rem, 6rem);
        padding-bottom: clamp(4.5rem, -5vw + 7rem, 6rem);
        gap: clamp(4.5rem, -5vw + 7rem, 6rem);
    }
}

.card {
    position: relative;
}

.card__image {
    width: 65%;
    z-index: 0;

    @media only screen and (max-width: 50rem) {
        width: 100%;
        max-width: 100%;
    }
}

.card__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: clamp(2.5rem, 5.036vw - 0.018rem, 6rem) clamp(2.5rem, 5.036vw - 0.018rem, 6rem) 0 clamp(2.5rem, 5.036vw - 0.018rem, 6rem);
    gap: clamp(1rem, 1.439vw + 0.281rem, 2rem);
    bottom: 0;
    right: 0;
    background-color: $white;
    z-index: 1;

    @media only screen and (max-width: 50rem) {
        position: relative;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        padding: 2rem 0 0 0;
    }
}

.card__description-title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, 2.158vw + 0.921rem, 3.5rem);
    font-weight: 300;

    @media only screen and (max-width: 50rem) {
        font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
        text-align: center;
    }
}

.card__description-paragraph {
    font-family: 'Alata', sans-serif;
    color: $grey600;
    font-size: clamp(0.875rem, 0.36vw + 0.695rem, 1.125rem);
    font-weight: 400;

    @media only screen and (max-width: 50rem) {
        font-size: clamp(0.875rem, 0.833vw + 0.708rem, 1.125rem);
        text-align: center;
    }
}

.creations {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 2.878vw + 0.561rem, 4rem);
}

.creations__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 50rem) {
        justify-content: center;
    }
}

.creations__title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, 2.158vw + 0.921rem, 3.5rem);
    font-weight: 300;

    @media only screen and (max-width: 50rem) {
        font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
    }
}

.creations__see-all-button {
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.288vw + 0.856rem, 1.2rem);
    font-weight: 400;
    letter-spacing: 0.2rem;
    border: solid 1px $black;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    transition: 200ms all ease-out;

    @media only screen and (max-width: 50rem) {
        display: none;
    }
}

.creations__see-all-button:hover {
    background-color: $black;
    color: $white;
    transition: 200ms all ease-in;
}

.creations__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: clamp(1.5rem, 2.158vw + 0.421rem, 3rem);
    row-gap: clamp(1.5rem, 2.158vw + 0.421rem, 3rem);

    @media only screen and (max-width: 50rem) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 8fr);
    }
}

.category {
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        background-color: $black;
        width: 100%;
        height: 100%;
        z-index: 1;
        bottom: 0;
        opacity: 25%;
        transition: 100ms all ease-out;
    }

    span {
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: clamp(1.25rem, 1.079vw + 0.71rem, 2rem);
        font-weight: 300;
        position: absolute;
        bottom: 7.6%;
        left: 10%;
        width: 50%;
        color: $white;
        z-index: 2;
        transition: 100ms color ease-out;
    }

    @media only screen and (max-width: 50rem) {
        span {
            font-size: clamp(1.25rem, 2.5vw + 0.75rem, 2rem);
            bottom: 10%;
            left: 5%;
        }
    }
}

.category:hover {
    .overlay {
        background-color: $white;
        opacity: 65%;
        transition: 100ms all ease-in;
    }

    span {
        color: $black;
        transition: 100ms color ease-in;
    }
}

.creations__footer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 50rem) {
        display: flex;
        justify-content: center;
    }
}

.creations__see-all-button-mobile {
    display: none;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.288vw + 0.856rem, 1.2rem);
    font-weight: 400;
    letter-spacing: 0.2rem;
    border: solid 1px $black;
    background-color: $white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    transition: 200ms all ease-out;

    @media only screen and (max-width: 50rem) {
        display: flex;
    }
}

.creations__see-all-button-mobile:hover {
    background-color: $black;
    color: $white;
    transition: 200ms all ease-in;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 3rem clamp(3rem, 12.95vw - 3.475rem, 12rem) 3rem clamp(3rem, 12.95vw - 3.475rem, 12rem);
    background-color: $black;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 50rem) {
        flex-direction: column;
        gap: 1rem;
    }
}

.footer__navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @media only screen and (max-width: 50rem) {
        align-items: center;
    }
}

.footer__navbar-categories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 1.439vw + 0.281rem, 2rem);
    
    a {
        text-decoration: none;
        font-family: 'Alata', sans-serif;
        font-size: clamp(1rem, 0.18vw + 0.91rem, 1.125rem);
        color: $white;
        transition: color 250ms ease-out;
        position: relative;
    }

    a::after {
        content: "";
        position: absolute;
        background-color: $white;
        height: 3px;
        left: 0;
        width: 100%;
        bottom: -1rem;
        transform: scaleX(0);
        transition: transform 250ms ease-out;
    }

    a:hover::after {
        transform: scaleX(1);
        transition: transform 250ms ease;
    }

    @media only screen and (max-width: 50rem) {
        flex-direction: column;
        align-items: center;
    }
}

.brand-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    @media only screen and (max-width: 50rem) {
        align-items: center;
    }
}

.social-icons {
    display: flex;
    flex-direction: row;
    height: 32px;
    gap: 1rem;
}

.social-icons > * {
    transition: color 250ms ease-out;
    position: relative;
}

.social-icons > *::after {
    content: "";
    position: absolute;
    background-color: $white;
    height: 3px;
    left: 0;
    width: 100%;
    bottom: -0.4rem;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
}

.social-icons > *:hover::after {
    transform: scaleX(1);
    transition: transform 250ms ease;
}

.copyright {
    color: $white;
    font-family: 'Alata', sans-serif;
    font-size: clamp(1rem, 0.18vw + 0.91rem, 1.125rem);
    color: $grey600;

    @media only screen and (max-width: 50rem) {
        font-size: clamp(0.875rem, 0.833vw + 0.708rem, 1.125rem);
        text-align: center;
    }
}